*.model
*.buffer
*.p$
*.jar
.idea
.ipynb_checkpoints

# python specific
*.pyc

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Numerous always-ignore extensions
*.diff
*.patch
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
